html {
    font-size: 22px;

}
body {
   background-color: black;
   color: antiquewhite;
}
.me {
    color:aquamarine;
}
.me2 {
    color:beige;
    font-stretch: extra-expanded;
}
.main {
    color: bisque;
    
}
.description {
    color: burlywood;
}
a:visited {
    color: chartreuseS;
}