html {
    font-size: 22px;

}
body {
   background-color: black;
   color: antiquewhite;
}
.me {
    color:aquamarine;
}
.me2 {
    color:beige;
    font-stretch: extra-expanded;
}
.main {
    color: bisque;
    
}
.description {
    color: burlywood;
}
a:visited {
    color: chartreuseS;
}
a:hover {
    color: aqua;
}
a:active {
    color: blue;
}
.logo {
    color: antiquewhite;
}
a {
    color:blanchedalmond;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
  }