html {
  font-size: 22px;
}
body {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
.google
{
  color: aliceblue;
}
.about {
  color: antiquewhite;
}
.short {
  color: bisque;
}
a:visited {
  color: gold;
}
a:hover {
  color: aqua;
}
a:active {
  color: blue;
}
.thinglogo {
  width: 200px;
  height: 200px;
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}